.visually-hidden {
  visibility: hidden;
}
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.button {
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  text-align: center;
  text-decoration: none;
  margin-right: 8px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  border: 1px solid transparent;
}
.address {
  margin-left: auto;
}

.item {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: #757575;
}
.auto-nav-list {
  display: flex;
  justify-content: center;
}
