/* .site-nav. link. current { */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.body {
  font-family: var(--main-font);
  font-style: normal;
}

.container {
  display: flex;
  align-items: center;
  min-height: 80x;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
}
.navigation {
  display: flex;

  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list {
  display: flex;
}
.address {
  margin-left: auto;
}
.navigation-list .link.current {
  color: var(--accent-color);
}
.header-mail {
  margin-right: 50px;
}
.navigation-list .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link,
.header-mail,
.header-phone {
  font-style: normal;
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.header-phone:hover,
.header-phone:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

/* <=== HERO ===> */

.hero {
  background-color: #2f303a;
  min-height: 600px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.main-btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  background: #2196f3;
  color: #ffffff;
  min-width: 200px;
  border: 1px solid transparent;
}
.main-btn:hover,
.main-btn:focus {
  border: 1px solid transparent;
}

.main-info-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.main-info-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/* <=== our team ===> */
.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
/* <=== FOOTER ===> */
.footer-address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
